# Local backend (used when running frontend on localhost)
REACT_APP_BACKEND_URL_LOCAL=http://localhost:3030

# Production backend (used when frontend is deployed / not on localhost)
REACT_APP_BACKEND_URL_PRODUCTION=https://mkg-api-d7dd856b5f62.herokuapp.com